body{
    background-color: aliceblue!important;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-sm-12{
    text-align: center;
}
input{
    border: solid #ffcc00;
    width: 100%;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.text-sea{
    background-color: yellow;
}